* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  transition:
    background-color var(--transition-speed) ease,
    color var(--transition-speed) ease;
}

/* فئات مساعدة (Utility Classes) */
.u-margin-top-md {
  margin-top: 40px;
}
